# Range

In [4]:
r = range(5)
r

range(0, 5)

In [5]:
type(r)

range

In [6]:
r1 = list(range(0, 5))

In [7]:
r1

[0, 1, 2, 3, 4]

In [8]:
r2 = range(50)
r2

range(0, 50)

In [9]:
list(range(0,50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [10]:
l1 = list(range(10,58))

In [11]:
l1

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57]

In [12]:
list(range(5,55,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [13]:
r = range(5)
list(r)

[0, 1, 2, 3, 4]

In [14]:
for i in r:
    print('no')

no
no
no
no
no

In [15]:
for i in l1:
    print('bye')

bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye
bye

In [16]:
l1 = range(0,10)
l1

range(0, 10)

In [17]:
for i in l1:
    print('''vinod
  kesav''')

vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav
vinod
  kesav

In [19]:
l1

range(0, 10)

In [20]:
l1[4]

4

In [21]:
range(30)

range(0, 30)

In [22]:
range(10,50,4)

range(10, 50, 4)

In [24]:
list(range(10,50,4))

[10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

In [25]:
range(10,100,3,4) #more than 3 arguments are not allowed

TypeError: range expected at most 3 arguments, got 4

In [26]:
range(30,100,5.3)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [31]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [32]:
for i in range(2,20,6):
    print(i)

2
8
14