# Python type casting or Type conversion

In [1]:
int(2.3)

2

In [2]:
int(2.3,5.5) # it takes only one argument

TypeError: 'float' object cannot be interpreted as an integer

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
int(True, False)

TypeError: int() can't convert non-string with explicit base

In [6]:
print(int(2.3)) # float - int 
print(int(True)) # bool - int 
print(int('10')) # string - int

2
1
10

In [7]:
print(int(1+2j)) #complex to integer is not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [8]:
int('one') #String with text is not possible

ValueError: invalid literal for int() with base 10: 'one'

In [9]:
int(1)

1

From all other data type to int is possible except Complex datatype and String with text is not possible

In [10]:
print(float(2))

2.0

In [11]:
int(78.874)

78

In [12]:
print(float(2 + 3j)) #complex to float  is not possible

TypeError: float() argument must be a string or a real number, not 'complex'

In [13]:
print(float('two')) #String with text is not possible

ValueError: could not convert string to float: 'two'

In [14]:
complex(10) #complex to int is possible

(10+0j)

In [15]:
complex(10,20)#in converting to complex datatype we can give two arguments

(10+20j)

In [16]:
complex(10,20,30)#More than two arguments is not accepted in complex  data type

TypeError: complex() takes at most 2 arguments (3 given)

In [17]:
complex(2.3, 5.6) #float to complex datatpe

(2.3+5.6j)

In [18]:
complex(5, 2.3)

(5+2.3j)

In [19]:
complex(False, False)

0j

In [20]:
complex('1', '23')#complex() can't take second arg if first is a string

TypeError: complex() can't take second arg if first is a string

In [21]:
complex('1')

(1+0j)

In [22]:
print(bool(1))
print(bool(1.1))
print(bool(1+2j))
print(bool('nit'))

True
True
True
True

In [23]:
bool()

False

In [24]:
bool(1)

True

In [25]:
str(2)

'2'

In [26]:
str(2.2)

'2.2'

In [27]:
str(1 + 2j)

'(1+2j)'

In [28]:
a = 7.7
type(a)

float